@model List<TicketingSystem.Models.TicketsRepository.TicketsList2>

<div class="row">
    <div class="col-md-4">
        <h2>Title</h2>
    </div>
    <div class="col-md-4">
        <h2>Category</h2>
    </div>
    <div class="col-md-4">
        <h2>Author</h2>
    </div>
    <div class="col-md-4">
        <h2>Priority</h2>
    </div>
</div>
    @foreach (var result in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <h3>@result.Title</h3>
            </div>
            <div class="col-md-4">
                <h3>@result.Category</h3>
            </div>
            <div class="col-md-4">
                <h3>@result.Author</h3>
            </div>
            <div class="col-md-4">
                <h3>@result.Priority</h3>
            </div>
        </div>
    }
