@model TicketingSystem.Models.AddTicketViewModel

@{
    ViewBag.Title = "Tickets list";
}
<h2>@ViewBag.Title</h2>
<h5>Search by category</h5>

    <div id="filter-form">
        @using (Ajax.BeginForm("Filter", "Home", FormMethod.Post,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "filtered-results"
                                }))
        {
            <div>
                @Html.DropDownList("categoryFilter", Model.Categories, "Select category",
                                   new { @class = "btn btn-primary btn gradient2", onchange = "$(this.form).submit();"})
            </div>
        }
    </div>
    <div id="filtered-results">
    </div>


