@model TicketingSystem.Models.AddTicketViewModel

@{
    ViewBag.Title = "Tickets list";
}
<h2>@ViewBag.Title</h2>
<h5>Search by category</h5>

    <div id="search-form">
        @using (Ajax.BeginForm("Search", "Home", FormMethod.Post,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "search-results"
                                }))
        {
            <div>
                @Html.DropDownList("ddlUsers", Model.Categories, "Select category", new { @class = "btn btn-primary btn gradient2" })
                <input type="submit" value="Search" />
            </div>
        }
    </div>
    <div id="search-results">
    </div>


